html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(13, 13, 13);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* moldura de todas as páginas */
.moldura {
    position: relative;
    display: grid;
    width: 100vw;                     
    max-width: 1200px;                
    height: 90vh;                   
    max-height: 800px; 
    border: solid 1px rgba(177, 177, 177, 0.573);
    margin: 0;
    overflow: hidden;
}

.moldura video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.grid-conteudo {
    position: relative;
    z-index: 1;
    color: white;
    padding: 10px;
    display: grid;                            
    grid-template-rows: auto 1fr auto;        
    height: 100%;                             
    box-sizing: border-box;
}


/* titulo no Header */
.titulo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    line-height: 1.2;
    text-align: start;
}

.titulo h1 {
    margin-top: 0;
    margin-bottom: 4px;
    
}

.titulo p {
    margin-top: 0;
    margin-left: 4px;
    margin-bottom: 10px;
}

.nome {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    font-size: 300%;
}


/* Conteúdo principal da Moldura */
main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto;
  padding: 10px;
  gap: 10px;
  margin-top: 10px;
}

.mainsobremim{
    margin-left: 730px;
    margin-right: 10px;
}


/* Footer */
footer{
    margin-top: 10px;
    margin-bottom: 0;
}

/* links */
.links{
    margin-top: 60px;
    line-height: 1.5em;
}

.sembolinha {
    list-style: none;
    padding: 0;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: transform 0.4s ease-in-out;
}

a:hover{
    color: rgb(143, 143, 143);
    transform: scale(1.05);
}


/* Cards na parte de projetos */
.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.card {
    width: 300px;
    height: 275px;
    background-color: #1d1e22;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(22, 22, 22, 0.5);
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    line-height: 1;
}

.card img {
    width: 96%;
    height: 60%;
    border-radius: 10px;
    padding: 5px;
}

.card h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 9px;
    margin-bottom: 0;
}

.card p {
    font-size: 16px;
    margin-left: 9px;
    margin-right: 7px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* Links na parte de contato */
.contato {
    font-size: 17px;
    margin-top: 55px;
    margin-left: 300px; 
    line-height: 2;
}


/* Texto "sobre mim" */
.caixatexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-right: 200px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.linkssobremim {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.rolagem {
    padding-top: 5px;
    padding-bottom: 10px;
    overflow-y: auto;
    background-color: #2e2e2e00;
    width: 60%;
    height: 50vh;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.rolagem::-webkit-scrollbar {
  display: none;         
}
