.container{
    display: grid;
    grid-template-columns: 20%, 80%;
}

header{
    color: aliceblue;
    background-color: rgb(61, 61, 61);
    grid-column: 1 / 5;
}

aside{
    background-color: rgb(107, 107, 107);
    grid-column: 1;
}

main{
    background-color: rgb(197, 197, 197);
    grid-column: 2 / 5;
}

footer{
    color: aliceblue;
    background-color: rgb(26, 26, 26);
    grid-column: 1 / 5;
}